<div class="yui-gd">
	<div class="yui-u first">
		<div id="user_box">
			<div id="welcome_bar">
				<span class="header_title">Welcome, <%= @person.display_name %>!</span>
			</div>
			<div id="info_box">
				<div id="user_photo">
					<%= link_to image_tag( "#{@person.main_photo.thumb_url(80)}", :class => "main_photo", :size => "80x120"), :controller => :photo, :action => :list, :id => @person %>
				</div>
				<div id="user_info">
					<ul id="ilist">
		      			<li><%= h(@person.display_name) %></li>
		      			<li><%= h(@location.address_line_1) %></li>
		      			<li><%= h(@location.city) %></li>
		      			<li><%= h(@location.state) %></li>
		      			<li><%= h(@location.country) %></li>
		    		</ul>
				</div>
				<div id="edit_list">
					<ul id="edit_options_list">
						
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="yui-u">
		<div id="friend_box">
			
			<% cache(:controller => 'user', :action => 'home', :action_suffix => "friends#{@person.id}") do %>
			<div id="friend_bar">
				<%= link_to "View All", {:controller => 'user', :action => 'list', :id => @person.id}, {:class => 'right_rlink'} %>
				<%= link_to "Invite Friends", {:controller => 'message', :action => 'invite'}, {:class => 'right_rlink'} %>
				<span class="header_title">My Friends (<%= @friends.length %>)</span>
			</div>
			<div id="friend_list">
				<ul id="flist">
					<%= @friends.length == 0 ? render(:partial => 'add_friends') : render(:partial => "friend", :collection => @friends) %>
				</ul>
			</div>
			<% end %>
			
		</div>
	</div>
</div>
<div class="yui-gd">
	<div class="yui-u first">
		<div id="book_box">
			
			<% cache(:controller => 'user', :action => 'home', :action_suffix => "items#{@person.id}") do %>
			<div id="book_bar">
				<%= link_to (@list_all_items ? "Details" : "View All"), {:controller => 'item', :action => 'list', :id => @person.id}, {:class => 'left_rlink'} %>
				<span class="header_title"><%= @list_all_items ? "All" : "My" %> TravellerBooks (<%= @items.length %>)</span>
			</div>
			<div id="book_list">
				<ul id="blist">
					<%= render :partial => 'item', :collection => @items %>
				</ul>
			</div>
			<% end %>
			
		</div>
		<div id="stat_box">
			<div id="stat_bar">
				<span class="header_title">My Traveller Stats</span>
			</div>
			<div id="stat_list">
				
				<% cache(:controller => 'user', :action => 'home', :action_suffix => "stats#{@person.id}") do %>
					<%= render :partial => 'user_stats', :action => 'user_stats', :object => @person %>
				<% end %>
				
			</div>
		</div>
	</div>
	<div class="yui-u">
		<div id="map_box">
			<div id="map_bar">
				<%= link_to "Show Trips", :url => {:controller => 'user', :action => 'show_trips', :id => @person.id#, :width => 456, :height => 207
					}, :html => {:class => 'right_rlink', :id => 'mvacation'}, :remote => true %>
				<span class="header_title">My World</span>
			</div>
			<div id="user_map"></div>
		</div>
	</div>
</div>
