<h1>Change your password</h1>
<%= render :partial => 'profile_links'%>
<div id="profile_box">
	<%= form_for @person, :url => {:action => 'update_password'}, :html => {:id => 'reset_form'} do |f| %>
		<%= f.hidden_field 'id' %>
		<% if @needs_confirmation %>
			<p><label for="temp_password">Old Password:</label>
			<%= password_field_tag 'temp_password', nil, :size => "30" %></p>
		<% else %>
			<%= hidden_field_tag 'temp_password', @temp_pass %>
		<% end %>
		<p><label for="person_password">New Password:</label>
		<%= password_field 'person', 'password' %></p>
		<p><label for="person_password_confirmation">Confirm New Password:</label>
		<%= f.password_field 'password_confirmation' %></p>
		<%= f.submit 'Update Password' %>
	<% end %>
</div>