<h1>Add a trip log</h1>
<%= render :partial => 'user/profile_links'%>
<p class="separated separated-top"><%= link_to "Back to Trip Logs", :action => 'list' %></p>
<%= form_tag :action => 'create' do %>
	<div id="edit_person">
	<%= render :partial => 'form' %>
	<%= submit_tag 'Create' %>
	</div>
<% end %>
