<h1><%= @item.name %></h1>

<div class="yui-gd">
	<div id="book_info" class="yui-u first">
		<p><img src='/item/image/<%= @item.id -%>' alt='<%= @item.name -%>'></p>
		<ul>
			<li><%= @item.name %></li>
			<li><%= @item.description %></li>
		</ul>
		<%= @message unless @message.nil? %>
		<%= render :partial => 'prev_owners', :object => @owners unless @owners.empty? %>
	</div>
	<%= gmaps4rails(@json) %>
</div>