<!--[form:location]-->

<p><label for="location_description">Description</label>
<%= f.text_field 'description' %></p>

<p><label for="location_address_line_1">Address</label>
<%= f.text_field 'address_line_1' %></p>

<p><label for="location_address_line_2">Address Line 2</label>
<%= f.text_field 'address_line_2' %></p>

<p><label for="location_city">City</label>
	<%= f.text_field 'city' %></p>

<p><label for="location_state">State/Province</label>
	<%= f.text_field 'state' %></p>
	
<p><label for="location_zip_code">Postal Code</label>
	<%= f.text_field 'zip_code' %></p>
	
<p><label for="location_country">Country</label>
	<%= f.country_select 'country', ["--Select One--", "-------------", "United States"] %></p>

<!--[eoform:location]-->